body {
    margin: 0;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;

    width: 1000px;

    margin: 0px auto;
    height: 100%;

}

header {
    height: 100px;
    border-radius: 5px;

    color: white;
    background: linear-gradient(90.03deg, #E8814B 29.19%, rgba(255, 122, 0, 0.46) 129.22%);;
}

header > h3 {
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}

.row {
    display: flex;
    min-height: 100%;
    color: #1d1d1d;

    border-radius: 5px;
}

.col > h3 {
    color: #8a4018;;

    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0;
}


li {
    list-style-type: none;
}

li > a {
    vertical-align: top;
}

li > b {
    color: black;
    vertical-align: top;
}

li:has(b) > .delete {
    display: inline;
}

li:has(b) > .change {
    display: inline;
}

.left-bar {
  width: 400px;
  border-radius: 5px;

  padding: 10px;
  color: #AC4C17;

  background: #F0E7DA;

  overflow: hidden;
}

[data-container="lists"] > li {
    padding: 5px;
}

a:link {
    color: #AC4C17;
    text-decoration: none;
}

a:active {
    color: black;
}

a:hover {
    color: #fefefe;
}

.delete, .change {
    width: 20px;
    height: 20px;

    padding: 0;
    border: 0;
    display: none;
}

.delete {

    background-image: url('../image/basket.svg');
    margin-left: 5px;

    background-size: cover;
    background-color: #EFE7DA;
}

.change {

    background-image: url('../image/pen.png');
    margin-left: 15px;

    background-size: cover;
    background-color: #EFE7DA;
}

.delete:hover, .change:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.main {
  padding: 10px;

  width: 100%;
  border-radius: 5px;
  border: 2px solid #EFE7DA;

  overflow-y:scroll;
}

[data-container="tasks"] > li {
    padding: 10px;
    border-bottom: 1px dashed #868d99;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label 
 {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #AC4C17;
    border-bottom: 4px solid #AC4C17;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

input {
    margin: 5px;
}

.strikethrough {
    text-decoration: line-through;
    color: lightgrey;
}

.sr-only {
    display: none;
}

form {
    display: flex;
}

.form-control {
    height: 20px;
}

.btn {
    width: 80px;
    height: 25px;

    border: none;

    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    transition: all 0.3s ease;

    position: relative;
    display: inline-block;

     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);

    outline: none;
}

.btn:hover {
  background: #EED6C1;
}

.btn:active {
    top: 2px;
}
  
